.activity {
    color: #F8D9C6;
    background-color: #FB9649;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    padding: 5px 10px;
    margin: 5px;
}

.activity:hover .activityName {
    color: #FFF;
}

.activityName {
    font-size: 18px;
    font-weight: bold;
    transition: color .3s;
}

.projectName {
    font-size: 15px;
    font-weight: bold;
}