.activity {
    background-color: #FB9649;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    padding: 5px;
    margin: 5px;
}

.activityName {
    font-size: 16px;
    font-weight: bolder;
}

.projectName {
    font-size: 14px;
    font-weight: lighter;
}