.pomodoro {
    height: calc(100vh - 52px); /* ***** 52px = height .header ***** */
}

.pomodoriList,
.activityInfo,
.playPause,
.quicknotes {
    flex: 0 1 50px;
}

.pomodoriList>div {
    background-color: #B29EF8;
    border-radius: 50%;
}

.timer {
    font-size: 36px;
    color: #FB9649;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    border: 3px solid #FB9649;
    border-radius: 50%;
    box-sizing: border-box;
    flex: 1 0 200px;
}

@media screen and (min-width: 520px) {
    .timer {
        width: 220px;
        min-width: 220px;
        max-width: 220px;
        height: 220px;
        min-height: 220px;
        max-height: 220px;
    }
}

@media screen and (min-width: 768px) {
    .timer {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        height: 250px;
        min-height: 250px;
        max-height: 250px;
    }
}

@media screen and (min-width: 1280px) {
    .timer {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        height: 300px;
        min-height: 300px;
        max-height: 300px;
    }
}