.header {
    color: #FB9649;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    padding: 6px;
}

.header .datetime {
    font-size: 18px;
    font-weight: bold;
}

.header .hour {
    display: block;
}