.groupActions {
    --width-maxi: 200px;
    --width-mini: 140px;

    --translate-x-default: translateX(var(--width));
    --translate-x-hover: translateX(0);

    --width: var(--width-maxi);
    --transform: var(--translate-x-default);

    background-color: #B29EF8;
    width: var(--width);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 50px 18px 18px 50px;
    box-sizing: border-box;
    transform: var(--transform);
    transition: transform .3s;
    padding: 5px;
}

.groupActions a,
.groupActions a:visited {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #9D53FF;
    transform: translateY(2px);
}