@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

.radix-themes {
    --default-font-family: 'Nunito', sans-serif;
}

.viewport-height-full {
    height: 100vh;
}

.viewport-height-medium {
    height: 50vh;
}