.todayPage {
    color: #FB9649;
    padding: 5px;
}

.todayPage h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.badge {
    font-size: 16px;
    font-weight: bolder;
    color: #9D53FF;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9D53FF;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
    transform: translateY(-3px);
}